.nav{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
      'b b';
    background-color: rgb(250, 205, 170);
    padding: 20px;
  
}


.logo{
    grid-area: 'b';
    margin-left: 20px;
    color: rgb(255, 255, 255);
}

.fabeer{
  padding: 10px;
}